
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
body{
    background-color: black;
    height: 100%;
    width: 100%;
}
.main{
    height: 100vh;
    width: 100vw;
} 
.main {
    padding: 0;
}
.logo {
    height: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(245, 121, 72);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
.logo span {
  color: rgb(219, 146, 11);
}
nav {
  padding: 2vw 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background-color: rgb(82, 82, 82);
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
}
.nav-links h3 {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(224, 224, 224);
}
.nav-btn {
  padding: 1vw 3vw;
  background-color: rgb(219, 146, 11);
  border: none;
  border-radius: 15px;
  font-size: 1em;

}
.nav-btn:hover{
 background-color: white;
 color:rgb(219, 146, 11) ;
}
.landingpage{
    background-image: url(https://plus.unsplash.com/premium_photo-1682986671851-eba6a14e77af?q=80&w=2058&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
     opacity: 0.5;
    width: 100vw;
    min-height: 70vh;
   
}

.lin{
    min-height: 100px;
    /* background-color: red; */
    padding-top: 10px;
    
}
.linkbox1{
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
   
}
.linkbox1 a{
    text-decoration: none;
    font-size: 20px;
    color:white;
    margin-top: 7px;
    width:150px;
    font-weight: 600;
    
    
    /* background-color: red; */
}
.linkbox1 a:hover{
    color: black;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(239, 231, 231); */
    height: 35vh;
    gap: 10px;
}
.heading h1{
    font-size: 60px;
}
.heading h3{
    font-size: 30px;
}
.heading h1,h3{
    color: black;
}
.animation1{
    font-size: 40px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}



.secondPage{
    height: 100vh;
    width: 100vw;
   
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondPage h1{
    font-size: 50px;
    margin: 60px;


}
.SecondPage-detailsBox{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.winnerDetails{
    height: 50vh;
    width: 20vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.winnerDetails img{
    height: 70%;
    width: 100%;
    background-color: red;
    border-radius: 20px;
}
.thirdPage{
    height: 100vh;
    width: 100vw;
    background-color: red;
}
.thirdPage-First{
    background-color: blue;
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.thirdPage-First h1{
    font-size: 40px;
  
}
.thirdPage-First h3{
    font-size: 20px;
}

.acheive{
    height: 70%;
    width: 25%;
    background-color: yellow;
    border-radius: 30% 30% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.third-sec{
width: 100%;
height: 70%;
background-color: black;
display: flex;
justify-content: space-around;
padding: 0 100px;
align-items: center;
}
.acheive img{
     height: 100px;
     width: 100px;
     border-radius: 50%;
    

}
.Gam-image{
    width: 100%;
    height: 50%;
    background-color: black;
}
.Gam-image span{
    padding: 4px solid white;
    background-color: rgb(233, 233, 225);
    border-radius: 2px solid;
    font-size: 20px;
}
.landing-text {
  padding: 30px 40px;
  width: 40%;

  height: 70vh;
}
.tagline {
  font-size: 3.5rem;
  color: rgb(20, 65, 40);
}
.scam {
  color: red;
}
.landing-text button{
    padding: 1vw 3vw;
    background-color: rgb(219, 146, 11);
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 1em;
}
.landing-img {
  padding: 30px 20px;

  width: 60%;

  height: 100%;
  height: 70vh;
}
.landing-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.Forthpage{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(70, 53, 53);

}
.Forpage-text{
  padding: 5vw 10vw;
  width: 100%;
  min-height: 30vh;
  background-color: rgb(245, 158, 158);
  text-align: center;
  font-weight: 700;
}
.Forpage-text span{
  font-size: 2rem;
}
.Forpage-text p{
margin: 10px;
}
.Forpage-Cards{
  padding: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ludo-card{
border-radius: 10px;
  width: 30vw;
  min-height: 60vh;

  text-align: center;
}
.popular{
 display: flex;
justify-content: space-between;
 flex-direction: row-reverse;
  border-radius: 10px;
width: 100%;
  height: 23vh;
  background-color: palevioletred;
  border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}
.popular img{
position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
 display: flex;
 top: 50% ;
 left: 50%;
 transform: translate(-50%,-50%);
}
.popular span{
  padding: 15px;
  font-size: 14px;
}
.playing{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: brown;
  height: 5vh;
  padding: 10px;
}
.Game-det{
  padding: 20px;
  background-color: rgb(51, 51, 51);
  text-align: left;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.Game-det p{
  margin-top: 5px;

}

.rating{
  margin: 10px 2px;

  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.playWin{
  padding: 1vw 3vw;
  background-color: rgb(219, 146, 11);
  border: none;
  border-radius: 15px;
  font-size: 1em;
  width: 100%;
  margin-top: 5px;
}

.fifth {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
input {
    pointer-events: auto;
    color: black;
}
form h1{
    font-size: 50px;
    
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}